<article class="blog-post" *ngIf="postData">
  <div class="card rounded border-0 mb-2">
    <div class="row g-0">
      <div class="col-12 mb-3">
            <span
              class="badge rounded-pill text-bg-secondary me-2"
              *ngFor="let category of postData.post.categories">
            {{ category }}
          </span>
      </div>
      <div class="card-title">
        <h1 class="fst-italic mb-0">{{ postData.post.title }}</h1>
      </div>
      <a routerLink="/posts/{{ postData.post.id }}" class="stretched-link"></a>
      <div class="col-md-6 pt-md-3 order-md-last">
        <img [src]="postData.post.imageUrl | imagePath" class="card-img" alt="{{ postData.post.imageUrl }}">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="lead">{{ postData.post.lede }}</p>
          <p class="card-text mt-3"><small
            class="text-body-secondary">published on {{ postData.post.publishedDate | date:'longDate' }}
            at {{ postData.post.publishedDate | date:'shortTime' }}
            by <a [href]="postData.author.profileUrl">{{ postData.author.firstName }} {{ postData.author.lastName }}</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <p
    class="text-body-tertiary text-end"
    *ngIf="postData.post.imageUrlCredit">
    <small>image credit: <span [innerHTML]="postData.post.imageUrlCredit | safeHtml"></span></small>
  </p>
  <hr>
</article>
