<h3 class="pb-4 mb-4 fst-italic border-bottom">
  From the Data Stream
</h3>

<article class="blog-post" *ngFor="let data of (postData$ | async)">

  <div class="row g-0">
    <div class="col-lg-6">
          <span
            class="badge rounded-pill text-bg-secondary me-2 mb-3"
            *ngFor="let category of data.post.categories">
            {{ category }}
          </span>
      <h1 class="fst-italic mb-3">{{ data.post.title }}</h1>
    </div>
    <div class="col-lg-6 mb-3 mb-lg-0 order-first order-lg-last">
      <img
        [src]="data.post.imageUrl | imagePath"
        class="img-fluid rounded"
        alt="stock blog post image"
        *ngIf="data.post.imageUrl">
    </div>
  </div>

  <div class="row g-0">
    <div class="col-12">
      <p><small
        class="text-body-secondary">
        {{ data.post.publishedDate | date:'longDate' }} by
        <a [href]="data.author.profileUrl">{{ data.author.firstName }} {{ data.author.lastName }}</a>
      </small></p>
      <p class="lead">{{ data.post.lede }}</p>
      <hr>
    </div>
    <div class="col-12">
      <div [innerHTML]="data.post.bodyHtml | safeHtml"></div>
    </div>
    <div class="col-12">
      <p
        class="text-body-tertiary text-end"
        *ngIf="data.post.imageUrlCredit">
        <small>image credit: <span [innerHTML]="data.post.imageUrlCredit | safeHtml"></span></small>
      </p>
      <hr>
    </div>
  </div>
</article>

<nav class="blog-pagination" aria-label="Pagination">
  <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
  <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
</nav>
