<div class="row g-5">
  <div class="col">
    <article class="blog-post" *ngIf="(data$ | async) as data; else missing">
      <img
        [src]="imagePath(data.post.imageUrl)"
        class="img-fluid"
        alt="article image"
        *ngIf="data.post.imageUrl">
      <!-- category bubbles -->
      <span
        class="badge rounded-pill text-bg-secondary my-2 me-2"
        *ngFor="let category of data.post.categories">
        {{ category }}
      </span>
      <h2 class="display-5 link-body-emphasis mb-1">{{ data.post.title }}</h2>
      <p class="blog-post-meta">{{ data.post.publishedDate | date:'medium' }} by <a [href]="data.author.profileUrl">{{ data.author.firstName }} {{ data.author.lastName }}</a></p>
      <p class="lead">{{ data.post.lede }}</p>
      <hr>
      <div [innerHTML]="safePostBodyHtml(data.post.bodyHtml)"></div>
      <p
        class="text-body-tertiary"
        *ngIf="data.post.imageUrlCredit">
        <small>image credit: <span [innerHTML]="safePostBodyHtml(data.post.imageUrlCredit)"></span></small>
      </p>
    </article>

    <ng-template #missing>
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Oops! Missing Article</h2>
        <p class="lead">We lost that article somewhere along the way. Please <a [href]="'/'" title="link to home page">try going back to the home page</a> and picking another article.</p>
      </article>
    </ng-template>
  </div>
</div>
